@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

:root {
    /* Colors */
    /* Primary */
    --reaction-color: 0, 100%, 67%;
    --memory-color: 39, 100%, 56%;
    --verbal-color: 166, 100%, 37%;
    --visual-color: 234, 85%, 45%;

    /* Gradients */
    /*background*/
    --light-slate-blue: 252, 100%, 67%;
    --light-royal-blue: 241, 81%, 54%;

    /*circle*/
    --violet-blue: 256, 72%, 46%, 1;
    --persian-blue: 241, 72%, 46%, 0;

    /* Neutral */
    --white: 0, 0%, 100%;
    --pale-blue: 221, 100%, 96%;
    --light-lavender: 241, 100%, 89%;
    --dark-gray-blue: 224, 30%, 27%;

    --opacity: 0.1;

    /* Typography */

    /* Body Copy */

    /*18px*/
    --font-size: 1.125rem;

    --font-family: 'Hanken Grotesk', sans-serif;
    --weight-500: 500;
    --weight-700: 700;
    --weight-800: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light only;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

html,
body,
main {
    background-color: hsl(var(--pale-blue));
    min-height: 100vh;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: hsl(var(--white));
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.result-section,
.summary-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem 2rem;
}

.result-section {
    align-items: center;
    background-image: linear-gradient(hsl(var(--light-slate-blue)), hsl(var(--light-royal-blue)));
    border-radius: 0 0 2rem 2rem;
    justify-content: space-between;
}

.result-section h1 {
    color: hsl(var(--pale-blue));
}

.circle {
    align-items: center;
    background-image: linear-gradient(hsl(var(--light-royal-blue)), transparent);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    width: 150px;
}

.circle span {
    color: hsl(var(--white));
    display: block;
    font-size: 3.75rem;
    font-weight: var(--weight-800);
    text-align: center;
}

.circle p {
    color: hsl(var(--pale-blue));
    text-align: center;
}

.result-section h2 {
    color: hsl(var(--white));
}

.result-section>p {
    color: hsl(var(--pale-blue));
    text-align: center;
}

.summary-section h3 {
    font-weight: var(--weight-500);
}

.category {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.category h4 {
    flex: 1;
}

.category span {
    font-weight: var(--weight-700);
}

.category p {
    color: hsl(var(--dark-gray-blue));
}

.reaction-category {
    background-color: hsla(var(--reaction-color), var(--opacity));
    color: hsl(var(--reaction-color));
    stroke: hsl(var(--reaction-color));
}

.memory-category {
    background-color: hsla(var(--memory-color), var(--opacity));
    color: hsl(var(--memory-color));
    stroke: hsl(var(--memory-color));
}

.verbal-category {
    background-color: hsla(var(--verbal-color), var(--opacity));
    color: hsl(var(--verbal-color));
    stroke: hsl(var(--verbal-color));
}

.visual-category {
    background-color: hsla(var(--visual-color), var(--opacity));
    color: hsl(var(--visual-color));
    stroke: hsl(var(--visual-color));
}

button {
    background-color: hsl(var(--dark-gray-blue));
    border-radius: 2rem;
    border: none;
    color: hsl(var(--white));
    cursor: pointer;
    font-size: var(--font-size);
    padding: 1rem;
}

button:hover,
button:active {
    background-image: linear-gradient(hsl(var(--light-slate-blue)), hsl(var(--light-royal-blue)));
}

/*100px*/
@media (min-width: 6.25em) {
    .category h4 {
        min-width: 100px;
    }
}

/*375px*/
@media (min-width: 23.4375em) {
    .category h4 {
        min-width: auto;
    }
}

/*600px*/
@media (min-width: 37.5em) {
    .wrapper {
        border-radius: 2rem;
        box-shadow: 0 0 25px 5px hsl(var(--light-lavender));
        flex-direction: row;
        height: auto;
        overflow: hidden;
        width: 90vw;
    }

    .result-section,
    .summary-section {
        padding: 2rem 2.5rem;
    }

    .result-section {
        border-radius: 2rem;
    }
}

/*1000px*/
@media (min-width: 62.5em) {
    .wrapper {
        width: 80vw;
    }
}

/*1200px*/
@media (min-width: 75em) {
    .wrapper {
        width: 60vw;
    }
}

/*1440px*/
@media (min-width: 90em) {
    .wrapper {
        height: 482px;
        width: 720px;
    }
}